#grid {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    margin: 0 auto;
  }
#result{
  text-align: center;
  font-size: 50px;
}
img{
  padding: 10px;
  border-radius: 20%;
  height: auto;
  width: 200px;
}